{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Style_Profile_Yunie_revisi.css' %}">
    <title>Yunie Debora's Profile</title>
    
  </head>

  <body>    
      <div class = "row"  >
            <div class = "col">
              <div class = "row justify-content-center">
                <div class = "textBox" style = "margin-top:10%;">
                  <h1 style ="text-align: center"> Create a Schedule</h1>
                </div>
              </div>
              <div class = "row justify-content-center">
                <div class = "textBox" style = "margin-top:5%;">
                  <form method = "POST">
                    {% csrf_token %}
                    <table>
                      {{schedule_form.as_table}}
                    </table>
                    <center><button type = "submit" value="Add" >Save</button></center>
                  </form>
                </div>
              </div>
              <a href="{% url 'activity:schedule' %}" class="btn btn-light btn-lg" role="button" style ="margin-top:3%; margin-left:45%;" >Back</a>
            </div>
        </div>
    </body>
    </html>
      