{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Style_Profile_Yunie_revisi.css' %}">
    <title>Yunie Debora's Profile</title>
    
  </head>
  

  <body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'index' %}" target=_self > Home </a>
                </li>
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'profile' %}" target=_self > Profile</a>
                </li>
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'gallery' %}" target=_self > Gallery</a>
                </li>
                <li class="nav-item active" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'activity:schedule' %}" style="font-size:medium; ">Schedule<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <a href="{% url 'activity:create' %}" class="btn btn-light btn-lg" role="button" style ="margin-top:10%; margin-left:39%;" >Create a Schedule</a>

    <div class = "row">
      <div class = "col">
          <h1 style="text-align: center; margin-top:5%;">List of Yunie's Schedule</h1>
          <div class = "row justify-content-center" style = "margin-top :5%;">
            <div class = "col"><p style="text-align: center;"><strong> DATE</strong></p></div>
            <div class = "col"><p style="text-align: center;"><strong>ACTIVITY </strong></p></div>
            <div class = "col"><p style="text-align: center;"><strong>TIME</strong></p></div>
            <div class = "col"><p style="text-align: center;"><strong>PLACE</strong></p></div>
            <div class = "col"><p style="text-align: center;"><strong>CATEGORY</strong></p></div>
          </div>
          <div class = line style = "width:95%; margin-left:2%;"></div>
          
            {% for activity in listJadwal%}
            <div class = "row justify-content-center" style = "margin-top :3%;">
              <div class = "col"><p style="text-align: center;"> {{activity.date}}</p></div>
              <div class = "col"><p style="text-align: center;">{{activity.activity}} </p></div>
              <div class = "col"><p style="text-align: center;"> {{activity.time}} </p></div>
              <div class = "col"><p style="text-align: center;">{{activity.place}} </p></div>
              <div class = "col"><p style="text-align: center;">{{activity.category}} </p></div>
            </div>
            <a href="{% url 'activity:delete' activity.id %}" class="btn btn-light btn-xs" role="button" style="margin-left:5%;" >Delete</a>
            {% endfor %}  
      </div>
    </div>

  </body>
</html>