{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Style_Profile_Yunie_revisi.css' %}">
    <title>Yunie Debora's Profile</title>
    
  </head>
  

  <body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'index' %}" style="font-size:medium; ">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'profile' %}" target=_self > Profile</a>
                </li>
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'gallery' %}" target=_self > Gallery</a>
                </li>
                <li class="nav-item" style="margin-left: 15%">
                <a class="nav-link" href="{% url 'activity:schedule' %}" target=_self > Schedule</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class= "container-fluid" style = "background :#AB7A4C; height:100vw; position:fixed;">
    <div class = "row justify-content-center" style ="padding-top:0.5%;">
      <img srcset="https://i.imgur.com/L7imalu.jpg"class= "rounded-circle" style ="width:20%; margin-top:5%;position:relative; z-index:2;">
      <div class = "row;" style ="padding-left:15%; padding-right:15%;">
      <div class = "textBox" style="text-align: center; margin-top:-10%;">
      <img src="https://i.imgur.com/OVvvm5N.png" style = "width:28%; padding-top:7vw; position:relative; z-index:2;" >
      <h1 style="font-size:24px;margin-top:1vw; margin-bottom:1vw;">You will see Yunie Debora's Profile 
        <br> a singer who studies in Universitas Indonesia<br> Want to know more about her, please click the button below</h1>
      <a href="{% url 'profile' %}" class="btn btn-light btn-lg" role="button" >Let's Go!</a>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>